@model Young_snakes.Models.PersonMeal

@{
    ViewData["Title"] = "Delete";
}
<h3>Sei sicuro di cancellare questo?</h3>
<div>
    <h4>PersonMeal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMeal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMeal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
